body {
    font: 12px "Bitstream Vera Sans", "Arial", sans-serif;
    background-color: #fafafa;
    color: black;
    padding: 0em;
    text-align: center;
    margin: 0em auto 0em auto;
    width: 49em;
}
body div {
    text-align: left;
}

/* layout */

.block h2 {
    font-size: 18px;
}
.block h1, h2, h3, h4 {
    color: #96d321;
    border-bottom: 2px solid #96d321;
    width: 50%;
    font-weight: normal;
    margin-left: 0;
    padding-left: 24px;
}

p.comment {
    font-size: 1em;
    font-weight: bold;
}

h4 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
a {
    color: #96d321;
}
a:hover {
    text-decoration:none;
}

.header
{
    padding: 0;
    width: 49em;
    margin: 1em 0 1em 0;
    height: 135px;
    background-color:#FFF;
    border:2px solid #96d321;
    -moz-border-radius:1em;
    -webkit-border-radius:1em;
}
.header h1 {
    padding-top: 30px;
    padding-left: 240px;
    border: 0px;
    color: #96d321;
    font-size: 32px;
}
#logo {
    float: left;
    margin: 0em 0em 0em .5em;}

.block
{
    padding: 1em 1em 1em 0em;
    width: 48em;
    margin: 1em 0 1em 0;
    background-color:#FFF;
    border:2px solid #96d321;
    -moz-border-radius:1em;
    -webkit-border-radius:1em;
}

.content {
    padding-left: 24px;
    padding-right: 24px;
}

.sub_block
{
    width: 36em;
    padding: 1em 2em 1em 2em;
    margin-bottom: 2em;
    margin: 1em 1em 1em 4em;
    border:2px solid #96d321;
    -moz-border-radius:1em;
    -webkit-border-radius:1em;
}

.terms_and_conditions_text {
    height: 50em;
    width: 48em;
    overflow: auto;
}

.block ul {
    padding-left: 2em;
    margin-bottom: 1.5em;
}
.block ul li {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

dt {
    font-weight: bold;
    margin: 1em 0em .5em 2em;
}
dd {
    padding: 0em 0em .5em 2em;
    font-weight: normal;
}

ul.ticketsale {
    padding-left: 0px;
}

.ticketsale li {
    list-style: none;
}

.ticketsale select {
    float: left;
    margin-right: 10px;
}

input[type=submit], button {
    padding: 1px 3px;
    font: 1em verdana, arial, sans-serif;
    color: #444;
    border: 1px solid #999;
}

address {
    font-style: normal;
    margin-left: 1em;
}

ul.errorlist {
    padding: 0px;
    margin: 0px;
}

ul.errorlist li{
    color: red;
    border: 0px;
    display: inline;
}

.price {
    display: block;
    width: 10em;
    float: right;
}

#id_donation {
    width: 3em;
}

table {
    border-spacing: 0;
}

td.total, td.count, td.amount {
    padding-left: 20px;
    text-align: right;
}

tr.total td {
    border-width: 1px 0 0 0;
    border-color: black;
    border-style: solid;
}

td, th {
    padding-right: 30px;
}

#topcornerlink {
    float: right;
    margin-right: 5px;
    margin-bottom: -30px;
    text-decoration: none;
}
