body {
    font: 11px "Bitstream Vera Sans", "Arial", sans-serif;
}

table.header td {
    padding-left: 10px;
}

table.invoice {
    border-spacing: 0;
    border-width: 0c;
    margin-left: 30px;
    margin-bottom: 30px;
    text-align: left;
}

td.total, td.count, td.amount, th.price {
    padding-left: 20px;
    text-align: right;
}

tr.total td {
    border-width: 1px 0 0 0;
    border-color: black;
    border-style: solid;
}

table.invoice td, th {
    padding-right: 30px;
    border-right: 0px;
}

hr {
    border: 0;
    height: 1px;
    background-color: black;
    margin: 0px;
}
