body {
    font: 16px "Bitstream Vera Sans", "Arial", sans-serif;
    text-align: center;
}

table {
    border-width: 0;
    border-spacing: 0;
    margin: 10px auto;
    text-align: left;
}

td.total, td.count, td.amount {
    padding-left: 20px;
    text-align: right;
}

tr.total td {
    border: 1px solid;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

td, th {
    padding-right: 30px;
}
