{% extends "base.html" %}

{% block content %}
<h2>Terms and conditions</h2>
<div class="content">
  <p class="comment">(or: what happens when you let the lawyers roam free)</p>
<p>Definitions (for clarification purposes only):</p>
<dl>
<dt>(The) organisation</dt>
<dd>Stichting eth0 - Wilhelminaplein 12 - 8911BS Leeuwarden - The Netherlands.</dd>

<dt>(The) visitor</dt>
<dd>The person using the ticket to gain entrance to the event terrain and facilities.</dd>

<dt>(The) volunteer</dt>
<dd>Any visitor.</dd>

<dt>(The) purchaser</dt>
<dd>The person purchasing the ticket.</dd>

<dt>(The) event</dt>
<dd>{{ event.name }}, {{ event.start|date:"l, F j, Y" }} to {{ event.end|date:"l, F j, Y" }}, including but not limited to the conference and presentations.</dd>

<dt>(The) ticket</dt>
<dd>The pdf document containing a unique ticket id</dd>

<dt>(The) venue</dt>
<dd>The event terrain, auditoriums and facilities in {{ event.location }}.</dd>
</dl>
<p>
The {{ event.name }} Festival tickets are issued subject to the terms and conditions below. Please read the following Terms and Conditions
carefully before submitting the Registration Form.
</p>

</div>
<h4>General</h4>
<div class="content">

<p>
Confirmation or a booking or any payment by purchaser shall constitute acceptance of these terms and conditions.
</p>

<p>
Registration is not complete until full payment has been received. Event registrations will not be confirmed until the completed form and
the correct payment is received and processed by the organisation.
</p>

<p>
After successful registration purchaser will receive an email containing the ticket.
</p>

<p>
It is the responsibility of the purchaser to check that the information provided whilst booking is correct prior to payment as mistakes or
omissions cannot always be rectified.
</p>

</div>
<h4>Tickets</h4>
<div class="content">

<p>
Tickets are non-refundable.
</p>

<p>
In exceptional circumstances it may be necessary for reasons beyond the control of the organisation to alter the content, venue, or the date
and timing of the event. To the extent permitted by law there will be no associated liability whatsoever to the event organisers and hosts,
the organisation or any individuals affiliated with the event or organisation in any capacity.
</p>

<p>
The organisation shall not be liable for any cancellation of the event due to circumstances beyond its reasonable control including without
limitation due to any force majeure, industrial action, fire, flood, storm or tempest, disease, explosion, riot, civil commotion, earthquake,
malicious damage or act of terrorism.
</p>

<p>
The organisation will provide on its event website - <a href="https://eth0.nl">eth0.nl</a> - updates of all events, venues, venue changes
and cancellations if any. It is the responsibility of the purchaser to ascertain whether an event has been cancelled and the date and time
of any rearranged event. If an event is cancelled or rescheduled, the organisation will use reasonable endeavours to notify purchasers of
the cancellation. Please note that the organisation cannot guarantee that purchasers will be informed of such cancellation before the date
of the event.
</p>

<p>
The purchaser is obliged, in case the ticket is not for personal use, to make note of these terms &amp; conditions (or at least a link to
these terms &amp; conditions) to any person that is receiving the ticket with the purpose of becoming a visitor. These terms &amp;
conditions apply to all visitors, regardless of whether they purchased the ticket themselves or not.
</p>

<p>
The purchaser is responsible for any loss, theft or damage to the ticket.
</p>

<p>
The organisation reserves the right to cancel ticket bookings that it reasonably suspects to have been made fraudulently.
</p>

</div>
<h4>Privacy</h4>
<div class="content">

<p>
Any information provided will be used to process transactions undertaken with the event and for internal administration and analysis
only. The organisation does not sell, rent, trade or in any other way share the visitor's personal information to third parties, unless
required by law or court decision.
</p>

<p>
Email addresses will be used to send the ticket in digital form and make important announcements regarding the event and possibly future
events.
</p>

<p>
All personal data is managed in accordance with appropriate Dutch and European data protection and freedom of information legislation.
</p>

<p>
Visitors consent to being filmed, photographed and recorded as members of the audience. The resulting film footage, images and recordings
may be used to promote the event and its activities in print, in the media and on websites. The organisation will endeavour to inform
visitors prior to the commencement of a presentation if filming is to take place.
</p>

</div>
<h4>Event</h4>
<div class="content">

<p>
The visitor is obliged to adhere to instructions regarding the proceedings of the event (including but not limited to instructions regarding
safety or regulations) of the organisation or any person appointed by the organisation to give such instructions.
</p>

<p>
The visitor must comply with all relevant statutes, safety announcements and regulations whilst attending the event. Breach of any of these
conditions or any unacceptable behaviour likely to cause damage, nuisance or injury shall enable the organisation to eject the visitor from
the event.
</p>

<p>
The ticket will allow one person (the visitor) entry to the event terrain. Upon entry, the ticket will be invalidated and the visitor will
receive a token to subsequently prove to the organisation that he has paid. The visitor will, without reservation, show this token to any
volunteer asking to verify the token.
</p>

<p>
The visitor may bring equipment, as long as power consumption, noise production and other factors are within reasonable limits,
understanding that there is always a risk in operating equipment on a field with an in-promptu power infrastructure and network. The
organisation can not be held responsible for damage, theft or malfunction of the visitor's equipment.
</p>

<p>
The organisation reserves the right to deny the usage of certain equipment. Explicitly not allowed are quad bikes.
</p>

<p>
Animals (except guide dogs) are not allowed on any of the event venue premises.
</p>

<p>
The organisation operates a No Smoking policy in all of the venue spaces, including but not limited to auditoriums, workshop &amp; venue
spaces, buildings and tents.
</p>

<p>
The unauthorised use of photographic and recording equipment is prohibited.
</p>

<p>
The unauthorised use of laser pens and mobile phones in all of the venue auditoriums is prohibited.
</p>

<p>
Any liability that the organisation and its officers, agents and/or employees may have to visitors under any circumstances will be limited
to the greater of (a) the total amount expended by the individual ticket holder with the organisation during the transaction giving rise to
the claim; or (b) EUR 100,-.
</p>

<p>
Visitors shall comply with any regulations of the organisation and the event venue and any applicable statutory requirements.
</p>

<p>
Visitors shall indemnify the organisation from and against all costs, charges, claims, expenses, demands and liabilities suffered or
incurred by the organisation as a result of any action or omission by the visitor (including in relation to any damage caused to the event
venue and camping-site or any property therein) and/or in connection with any breach by visitor of any of these terms and conditions.
</p>

</div>
<h4>Admission</h4>
<div class="content">

<p>
The organisation reserves the right to refuse admission to a venue if they believe the visitor can be a danger to the audience or himself or
can affect the enjoyment or duration of the presentation (for example due to being under influence of drugs or alcohol). A refund will not
be given in such situation.
</p>

<p>
The organisation reserves the right to refuse admission should visitors breach any terms and conditions of the event or the event venue's premises.
</p>

</div>
<h4>Accommodation</h4>
<div class="content">

<p>
Visitors to the event are eligible for tent space at the venue's camping for the duration of the event from
{{ event.start|date:"l, F j, Y" }} to {{ event.end|date:"l, F j, Y" }}. Visitors will have to bring their own tent.
</p>

<p>
Due to Fire Officer recommendations, awnings or canopies must not link tents. We recommend the use of flame retardant tents. The campsites
will not open until 10am on {{ event.start|date:"l j F" }}. Do not arrive until after this time as there will be no access to campsites nor
the event. All tents must be removed on {{ event.end|date:"l j F" }} before 24:00.

</p>

<p>Camp-space will be available for volunteers assisting in the build-up of the event's premises before the start of the event. Please refer
to <a href="https://eth0.nl">eth0.nl</a> for further information.
</p>

<p>
The visitor using the campsite is obliged to adhere to instructions regarding the rules and regulations concerning the campsite (including
but not limited to instructions regarding safety) by Fire Officers, the organisation or any person appointed by the organisation to give
such instructions.
</p>


</div>
<h4>Applicable law</h4>
<div class="content">

<p>
The terms and conditions are governed by Dutch Law and visitors irrevocably submit to the exclusive jurisdiction of the Dutch
courts. Nothing in this clause shall limit the organisation's right to take proceedings against visitors in any other court of competent
jurisdiction.
</p>

<p>
If any provision of these terms is held to be invalid, illegal or unenforceable for any reason by any court of competent jurisdiction, such
provision shall be severed and the remainder of the provisions will continue in full force and effect as if the terms had been executed with
the invalid, illegal or unenforceable provision omitted. Any express or implied waiver to perform any obligations under these terms will not
prevent the subsequent enforcement of them. A person who is not a party to these terms has no right to enforce any term of these terms.
</p>

<p>
The organisation reserves the right to alter or amend these terms and conditions without prior notification. Buyer will be notified of these
changes through the email address provided during the registration process. Buyer can notify the organisation if buyer does not agree with
the altered or amended terms and conditions within a two week period after this notification to be eligible for a refund. If no such
notification is received by the organisation, the buyer and visitor(s) are bound by the altered or amended terms and conditions.
</p>
</div>

{% endblock %}
